# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Logs
logs/
*.log

# Git
.git/
.gitignore

# Documentation
README.md
DEPLOYMENT.md
HELP.md

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Heroku
Procfile
app.json
